@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: var(--font-montserrat, sans-serif);
}

/* Hover underline animation - dark */
.hover-underline-animation {
   display: inline-block;
   position: relative;
}

.hover-underline-animation:after {
   content: "";
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #f5f5f5;
   transform-origin: bottom right;
   transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
}

/* Hover underline animation - white */
.hover-underline-animation-black {
   display: inline-block;
   position: relative;
}

.hover-underline-animation-black:after {
   content: "";
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #000000;
   transform-origin: bottom right;
   transition: transform 0.25s ease-out;
}

.hover-underline-animation-black:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
}
